html,
  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    cursor: default;
  }

  @font-face {
    font-family: Arco;
    src: url(assets/fonts/ARCO.ttf);
  } @font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-variable.ttf);
  }
  
  
  :root {
    --light: #FFE8BB;
    --lighta:#F0D9AC;
    --lightb: #e7d0a0;
    --lightc:#ffffd2;

    --dark: #000102;

    --c1:#EB5C2C;
    --c1a:#f76838;

    --c2:#F6B716;

    --carousel-pizza-circle-size:
    clamp(20rem, 80vw, 90rem);
    
    --carousel-pizza-mobile-width:
    clamp(7rem, 80vw, 38rem);
    --carousel-pizza-desktop-width:
    clamp(7rem, 45vw, 55rem);

    --secondary-pizza-mobile-scale: 0.3;
    --secondary-pizza-desktop-scale: 0.3;
  }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--light);
    color: var(--dark);
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  body,
  button,
  input {
    font-family: 'Arco', sans-serif;
  }

  input:focus {
    outline:none;
  }
  
  a {
    text-decoration: none;
    color: unset;
    user-select: none;
  }
  
  b {
    font-weight: 900;
  }
  
  img {
    user-select: none;
    max-width: 100%;
  }
  
  ::-webkit-scrollbar {
    width: 11px;
    height:8px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--light);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--c1a);
  }

  .width1 {
    width: clamp(10rem, 85vw, 130rem);
    margin:0 auto;
  }

  .flex {
    display:flex;
  }
  
  /* END OF GLOBAL STYLES */









::selection {
  background-color: var(--lightb);
  color:var(--c1)
}











/* INTRO SECTION */

header {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: var(--dark);
  z-index: 4;
  background-color: var(--c1);
} header nav {
  display: flex;
  flex-direction: column;
  display: none;
  padding: 1.5rem 0;
} header a {
  background-color: var(--light);
  padding: 1.2rem;
  font-size: clamp(1.1rem, 3.4vw, 1.7rem);
  border-bottom: 0.2rem solid #F0D9AC;
  margin: 0.4rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.showing_nav {
  display: flex;
}


.hamburger_bt {
  position: fixed;
  top: 1.2rem;
  right: 1.2rem;
  width: clamp(3rem, 18vw, 7rem);
  height: clamp(3rem, 18vw, 7rem);
  z-index: 1;
  background-image: url('assets/icons/hamburger-menu-bt.svg');
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
} .hamburger_bt div {
  width: 12%;
  height: 12%;
  border-radius: 2rem;
  background-color: var(--dark);
}




.intro_sec {
  font-weight: 500;
  background-color:var(--c1);
  padding: calc(clamp(3rem, 9vw, 7rem) + 2rem) 0 0;
  position: relative;
  overflow: hidden;
} .logo_h1_ctnr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 5vw, 3rem);
  margin: 0 0 clamp(2rem, calc(45vw - 12rem), 8rem) 0;
} .intro_sec .logo {
  width: clamp(10rem, 46vw, 26rem);
  display: block;
} .selection_sec .cta {
  text-align: center;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: calc(clamp(2.8rem, 7vw, 7.5rem) * -1);
  left: 0;
  right: 0;
  background-color: var(--lightc);
  width: fit-content;
  padding: clamp(0.7rem, 3vw, 1rem) clamp(1.5rem, 6vw, 2.5rem);
  font-size: clamp(1.5rem, 5vw, 1.8rem);
  color: var(--c1a);
  font-weight: 100;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  line-height: 1.3;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0.4rem var(--lightb);
  cursor: pointer;
  z-index: 2;
} .selection_sec .cta:hover {
  transition: background-color 0.2s ease, box-shadow 0.1s ease, transform 0.1s ease;
  background-color: #ffffff;
  transform: translateY(0.4rem);
  box-shadow: 0 0rem var(--lightb), 0 0rem 2rem -0.5rem var(--lighta);
} h1 {
  text-transform: uppercase;
  color: var(--light);
  font-weight: 100;
  font-size: clamp(1rem, 5.6vw, 3.3rem);
  text-align: left;
  letter-spacing: 0.1rem;
  width: fit-content;
  /* user-select: none; */
} h1 span {
  color: var(--dark);
}


.pizza_circle {
  position: relative;
  z-index: 1;
  /* pointer-events: none; */
} .pizza_circle .ctnr {
  background-image: url(assets/graphics/pizza-circle-big.svg);
  background-position: bottom center;
  background-size: 95%;
  background-repeat: no-repeat;
  width: clamp(0rem, 100vw, 120rem);
  height: clamp(15rem, 67vw, 61rem);
  margin: 0 auto;
} .slice_logo {
  width: clamp(10rem, 55vw, 53rem);
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 0;
}


.pizza_carousel {
  padding-top: clamp(21rem, 68vw, 30rem);
} .pizza_carousel .circle {
  width: var(--carousel-pizza-circle-size);
  height: var(--carousel-pizza-circle-size);
  border: 0.2rem dashed var(--light);
  border-radius: 100rem;
  margin: 0 auto;
  position: relative;
  margin-bottom: calc(var(--carousel-pizza-circle-size) / -2);
  /* margin-bottom: unset; */
  padding-top: calc(30vw - 52rem);
} .pizza_carousel .circle .ctnr {
  /* height: 9rem; */
} .pizza_carousel .pizza_name {
  text-align: center;
  display: block;
  bottom: calc(clamp(11rem, 56vw, 26rem) * 2.5);
  left: 0;
  right: 0;
  position: absolute;
  color: var(--lightc);
  letter-spacing: 0.3rem;
  font-size: clamp(2rem, 6.5vw, 3.6rem);
  /* font-family: 'Inter', sans-serif; */
  font-weight: 100;
  opacity: 0;
  visibility: hidden;
  text-transform: uppercase;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  z-index: 3;
  margin: 0 auto;
} .pizza {
  position: absolute;
  bottom: calc(50% - (var(--carousel-pizza-mobile-width) / 2));
  width: var(--carousel-pizza-mobile-width);
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.8s ease;
  will-change: transform;
  -webkit-tap-highlight-color: transparent;
}



.pizza:not(.p1) {
  cursor: pointer;
  transform: scale(0.1);
} .pizza.p1 {
  transform: rotate(0deg) translateY(calc(var(--carousel-pizza-circle-size) / -1.5)) scale(1);
  pointer-events: none;
  z-index: 1;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1), filter 0.3s ease;
}


.pizza.p1 + .pizza_name {
  opacity:1;
  visibility: visible;
}

.pizza.p-1 {
  transform: rotate(-90deg) translateY(calc(var(--carousel-pizza-circle-size) / -2)) scale(var(--secondary-pizza-mobile-scale));
}
.pizza.p0 {
  transform: rotate(-53deg) translateY(calc(var(--carousel-pizza-circle-size) / -2)) scale(var(--secondary-pizza-mobile-scale));
} .pizza.p-2, .pizza.p-3, .pizza.p-4, .pizza.p-5, .pizza.p-6, .pizza.p-7 {
  transform: rotate(-125deg) translateY(calc(var(--carousel-pizza-circle-size) / -2)) scale(var(--secondary-pizza-mobile-scale));
}

.pizza.p2 {
  transform: rotate(53deg) translateY(calc(var(--carousel-pizza-circle-size) / -2)) scale(var(--secondary-pizza-mobile-scale));
} .pizza.p3 {
  transform: rotate(90deg) translateY(calc(var(--carousel-pizza-circle-size) / -2)) scale(var(--secondary-pizza-mobile-scale));
} .pizza.p4, .pizza.p5, .pizza.p6, .pizza.p7, .pizza.p8 {
  transform: rotate(125deg) translateY(calc(var(--carousel-pizza-circle-size) / -2)) scale(var(--secondary-pizza-mobile-scale));
}




/* PIZZA CATALOG SECTION */


.selection_sec {
  padding: clamp(2rem, 12vw, 6rem) 0 0;position: relative;
}

.selection_sec h2 {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: clamp(2rem, 8.5vw, 4.5rem);
  color: var(--dark);
  display: none;
}

.pizza_menu {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  overflow-x: auto;
  padding: clamp(2rem, 8vw, 3rem) calc((100vw - clamp(20rem, 80vw, 30rem)) / 2) 5rem;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
} .pizza_menu::-webkit-scrollbar-thumb {
  background-color:var(--lighta);
  border-radius: 0.3rem;
} .pizza_menu::-webkit-scrollbar-thumb:hover {
  background-color:var(--lightb);
} .menu_item {
  min-width: clamp(20rem, 80vw, 32rem);
  min-height: 30vh;
  height: clamp(33rem, 110vw, 45rem);
  background-color:#ffffff;
  scroll-snap-align: center;
  border-radius: 1.6rem;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: clamp(0.6rem, 2vw, 0.8rem);
  padding: 0 clamp(2rem, 7vw, 3rem);
  box-sizing: border-box;
  transition: transform 1s ease;
  will-change: transform;
  box-shadow: 0 0.4rem 1.4rem var(--lighta);
} .menu_item.popular::after {
  content:'popular';
  position:absolute;
  left: 1.6rem;
  top: 1.6rem;
  background-color: var(--dark);
  color: #ffffff;
  padding: clamp(0.4rem, 2vw, 0.6rem) 1rem;
  font-size: clamp(1rem, 3.3vw, 1.3rem);
  border-radius: 0.6rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
} .menu_item img {
  filter: drop-shadow(0.6rem 0.6rem 1rem var(--lightb));
  margin-bottom: clamp(1.4rem, 5vw, 2rem);
  width: 80%;
  transition: transform 0.8s ease-in-out;
} .menu_item .flex {
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  position: relative;
} .menu_item .description {
  font-size: clamp(1.2rem, 4vw, 1.45rem);
  font-weight: 500;
} .menu_item .description b {
  font-weight: 600;
} .menu_item sup {

position: absolute;

left: 0;

top: 0;

font-size: clamp(1.1rem, 3vw, 1.2rem);

transform: translateY(-110%);

font-weight: 500;

color: #BBB;

letter-spacing: 0.18rem;

text-transform: uppercase;
} .menu_item h3 {
  font-size: clamp(1.6rem, 5vw, 2rem);
  font-weight: 700;
} .menu_item .prep_time {
  font-size: clamp(1.4rem, 0.8vw, 1.8rem);
} .menu_item .price {
  font-size: clamp(1.5rem, 8vw, 2.6rem);
  letter-spacing: 0.2rem;
  margin-top: clamp(1rem, 3vw, 1.5rem);
  font-weight: 500;
}

.just_eat_bt {
  position: absolute;
  width: clamp(3rem, 9vw, 3.6rem);
  height: clamp(3rem, 9vw, 3.6rem);
  right: 1.6rem;
  bottom: 1.6rem;
  background-color: var(--c1a);
  border: 0.2rem solid var(--c1);
  border-radius: 1rem;
  background-image: url(assets/logo/logo-JustEat.svg);
  background-position: center;
  background-size: 55%;
  background-repeat: no-repeat;
} .just_eat_bt::before {
  content:'Soon available on JustEat!';
  position: absolute;
  right: 5rem;
  top: 50%;
  background-color: #fff;
  color: var(--light);
  padding: 0 0.5rem;
  font-weight: 600;
  font-size: clamp(1rem, 3.5vw, 1.3rem);
  transform: translate(0%, -50%);
  border-radius: 0.6rem;
  color: var(--c1);
  width: calc(clamp(20rem, 75vw, 30rem) / 1.5);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s 0.3s ease, visibility 0.2s 0.3s ease;
  border: 0.2rem solid var(--c1);
  height: clamp(3rem, 9vw, 3.6rem);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
} .just_eat_bt:hover::before {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}






/* ABOUT US SECTION */

.about_us_sec {
  padding: clamp(5rem, 15vw, 12rem) 0 0;
} .about_us_sec h2 {
  color: var(--c2);
  font-size: clamp(2rem, 17vw, 9rem);
  line-height: 1;
  font-weight: 800;
} .about_us_sec h2 span {
  color: var(--c1a);
} .about_us_sec .width1 {
} .about_us_sec .txt {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: baseline;
  margin-bottom: clamp(4rem, 10vw, 7rem);
} .about_us_sec .txt p {
  font-size: clamp(1.2rem, 4.2vw, 1.7rem);
  letter-spacing: 0.03rem;
  line-height: 1.6;
  font-weight: 500;
} .about_us_sec .txt strong, .about_us_sec .txt b {
  font-weight: 600;
} .about_us_sec .cta {
  padding: clamp(1rem, 4vw, 1.6rem) clamp(2rem, 7vw, 3.5rem);
  background-color: var(--dark);
  border-radius: 10rem;
  color: var(--light);
  font-size: clamp(1.2rem, 4.2vw, 1.6rem);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 100;
  margin-top: 1rem;
  font-family: 'Arco', sans-serif;
  letter-spacing: 0.3rem;
  line-height: 1;
} .about_us_sec picture {
  width: 100%;
  display: block;
} .social_media_showroom {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: clamp(5rem, 15vw, 15rem) 0;
}





/* CONTACT SECTION */

.contact_sec {

display: flex;

justify-content: center;

align-items: center;

margin: clamp(6rem, 38vw, 14rem) 0;
} .contact_sec .ctnr {
  width: clamp(12rem, 85vw, 68rem);
  border-radius: 1.6rem;
  box-sizing: border-box;
  padding: clamp(2rem, 6.5vw, 4rem);
  color: var(--c1a);
  border: 0.2rem solid var(--light);
  background-color: #FFFFE9;
  box-shadow: 0 1rem 4rem var(--lighta);
} form {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  gap: clamp(1rem, 3vw, 2rem);
} .contact_sec .flex {
  flex-direction: column;
  gap: clamp(1rem, 3vw, 2rem);
} .user_info {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
} .contact_sec h2 {
  font-weight: 100;
  font-size: clamp(2.2rem, 7vw, 3.3rem);
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
} form label {
  font-size: clamp(1.3rem, 5vw, 1.5rem);
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: #444;
} form input, form textarea {
  width: 100%;
  border-radius: 0.4rem;
  border: unset;
  font-family: 'Inter', sans-serif;
  padding: 0.8rem 0.9rem;
  box-sizing: border-box;
  color: var(--dark);
  font-weight: 600;
  margin-top: 0.4rem;
  font-size: clamp(1.4rem, 5vw, 1.45rem);
  background-color: var(--light);
  box-shadow: inset 0 0 1.8rem var(--lighta);
  cursor: default;
  transition:background-color 0.4s ease;
} form input:hover, form textarea:hover {
  background-color: #fff5c8;
  transition:background-color 0.05s ease;
} form input {

} form textarea {
  min-height: clamp(8rem, 25vw, 18rem);
  height: clamp(8rem, 25vw, 18rem);
  max-height: 30rem;
  min-width: 100%;
  max-width: 100%;
  width: 100%;
  display: inline-block;
} form button {
  width: 100%;
  border: unset;
  padding: 1rem 0;
  color: var(--lightc);
  font-weight: 600;
  letter-spacing: 0.2rem;
  font-size: clamp(1.4rem, 5vw, 1.6rem);
  border-radius: 0.4rem;
  background: var(--c1a);
  cursor: pointer;
  font-family: 'Inter', sans-serif;
  text-transform: uppercase;
}






footer {
  background-color: var(--c1);
  width: 100%;
  padding: 1.6rem 0;
  font-family: 'Inter', sans-serif;
  font-size: clamp(0.9rem, 3.3vw, 1.5rem);
} footer span {
  color: var(--lightc);
  text-align: center;
  display: block;
  font-weight: 300;
}

































@media (min-width:600px) {
  .hamburger_bt {
    display: none;
  } header {
    position: absolute;
    padding-top: 3rem;
    z-index: 2;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
  } header nav {
    flex-direction: row;
    display: unset;
  } header a {
    background-color: var(--c1);
    border-bottom: unset;
    color: #ffffff;
    font-weight: 400;
    margin: 0 0.3rem;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease;
  } header a:hover {
    background-color: var(--c1a);
    transition: background-color 0.05s ease;
  }

  .intro_sec {
    
padding: 8rem 0 0 0;
  } .intro_sec .cta {
    
  }

  .slice_logo {
    top:unset;
    bottom:7rem;
  }

  h1 {
    text-align: right;
    font-size: clamp(1rem, 5vw, 4.3rem);
  } .logo_h1_ctnr {
    width: 82%;
    max-width: 150rem;
    gap: unset;
    justify-content: space-between;
    margin: 3rem auto calc(18rem - 20vw);
    position: relative;
    z-index: 1;
  }

  .pizza.p-1 {
    transform: rotate(-85deg) translateY(calc(clamp(20rem, 80vw, 90rem) / -2)) scale(var(--secondary-pizza-desktop-scale));
  }
  .pizza.p0 {
    transform: rotate(-55deg) translateY(calc(var(--carousel-pizza-circle-size) / -2)) scale(0.4);
    transition: transform 0.8s cubic-bezier(0.46, 0.03, 0.52, 0.96), filter 0.3s ease;
  } .pizza.p0:hover {
    filter: drop-shadow(-1.5rem -0.2rem 0.2rem #00000088);
    FONT-WEIGHT: 500;
  } .pizza.p-2, .pizza.p-3, .pizza.p-4, .pizza.p-5, .pizza.p-6, .pizza.p-7 {
    transform: rotate(-125deg) translateY(calc(clamp(20rem, 70vw, 85rem) / -2)) scale(var(--secondary-pizza-desktop-scale));
  }
  
  
  .pizza.p1 {
    transform: rotate(0deg) translateY(calc(var(--carousel-pizza-circle-size) / -2.7)) scale(1);
  }


  .pizza.p2 {
    transform: rotate(55deg) translateY(calc(var(--carousel-pizza-circle-size) / -2)) scale(0.4);
    transition: transform 0.8s cubic-bezier(0.46, 0.03, 0.52, 0.96), filter 0.3s ease;
  } .pizza.p2:hover {
    filter: drop-shadow(0.7rem 1.1rem 0.2rem #00000088);
  }
  
  .pizza.p3 {
    transform: rotate(85deg) translateY(calc(clamp(20rem, 80vw, 90rem) / -2)) scale(var(--secondary-pizza-desktop-scale));
  } .pizza.p4, .pizza.p5, .pizza.p6, .pizza.p7, .pizza.p8  {
    transform: rotate(125deg) translateY(calc(clamp(20rem, 70vw, 85rem) / -2)) scale(var(--secondary-pizza-desktop-scale));
  }

 .pizza {
    width: var(--carousel-pizza-desktop-width);
    bottom: calc(50% - (var(--carousel-pizza-desktop-width) / 2));
    transform: rotate(0deg) translateY(calc(var(--carousel-pizza-circle-size).7)) scale(0.4);
    transition: transform 0.8s ease, filter 0.3s ease;
  } .pizza_carousel .pizza_name {
    bottom: calc(clamp(10rem, 15vw, 17rem) * 6.4);
    font-size: clamp(2.5rem, 3vw, 3.4rem);
    width: clamp(10rem, 35vw, 80rem);
    filter: drop-shadow(0.4rem 0 0 var(--c1a)) drop-shadow(-0.4rem 0 0 var(--c1a)) drop-shadow(0 0.5rem 0 var(--c1a)) drop-shadow(0 -0.4rem 0 var(--c1a));
  }


  .pizza_menu {
    padding: clamp(2rem, 8vw, 4rem) 8rem 5rem;
    max-width: 155rem;
    margin: 0 auto;
  } .pizza_carousel {
    padding-top: 18rem;
  }

  .menu_item img {
    transition: transform 0.8s 0.2s ease-in-out;
  } .menu_item:hover {
    transform:scale(1.03);
    transition: transform 0.5s 0.5s ease;
  } .menu_item:hover img {
    transform: scale(1.03);
    transition: transform 0.45s 0.3s ease;
  }
  
  .contact_sec .flex {
    flex-direction: revert;
  } .message {
    width: 62%;
    flex: 1;
  } .user_info {
    width: 38%;
  }

  form textarea {
    
padding: 1.4rem 0.9rem;
  }
}
















@media (min-width:900px) {

  .pizza_circle .ctnr {
    background-image: url(assets/graphics/pizza-circle-small.svg);
    min-height: 57vh;
    max-height: 74vh;
  }

  .about_us_sec .width1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  } .about_us_sec picture {
    width: clamp(20rem, 50vw, 58rem);
    position: sticky;
    top: 15vh;
  } .about_us_sec .txt {
    width: clamp(20rem, 55vw, 61rem);
  }
}






  /* @media (min-width:1920px) {
    html {
        font-size:20px;
    }
  } @media (min-width:2440px) {
    html {
        font-size:24px;
    }
  } @media (min-width:3000px) {
    html {
        font-size:32px;
    }
  } */


