html,
  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    cursor: default;
  }

  @font-face {
    font-family: Arco;
    src: url(assets/fonts/ARCO.ttf);
  } @font-face {
    font-family: Inter;
    src: url(assets/fonts/Inter-variable.ttf);
  }
  
  
  :root {
    --light: #FFE8BB;
    --lighta:#F0D9AC;
    --lightb: #e7d0a0;
    --lightc:#ffffd2;

    --dark: #000102;

    --c1:#EB5C2C;
    --c1a:#f76838;

    --c2:#F6B716;
  }
  
  html {
    font-size: 10px;
    scroll-behavior: smooth;
  }

  body {
    background-color: var(--light);
    color: var(--dark);
    overflow-x: hidden;
    overflow-y: scroll;
  }
  
  body,
  button,
  input {
    font-family: 'Arco', sans-serif;
  }

  input:focus {
    outline:none;
  }
  
  a {
    text-decoration: none;
    color: unset;
    user-select: none;
  }
  
  b {
    font-weight: 900;
  }
  
  img {
    user-select: none;
    max-width: 100%;
  }
  
  ::-webkit-scrollbar {
    width: 11px;
    height:8px;
  }
  
  ::-webkit-scrollbar-track {
    background: var(--light);
  }
  
  ::-webkit-scrollbar-thumb {
    background: var(--c1a);
  }

  .width1 {
    width: clamp(10rem, 85vw, 130rem);
    margin:0 auto;
  }

  .flex {
    display:flex;
  }
  
  /* END OF GLOBAL STYLES */









::selection {
  background-color: var(--lightb);
  color:var(--c1)
}











/* INTRO SECTION */

header {
  position:fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: var(--dark);
  z-index: 2;
  background-color: var(--c1);
} header nav {
  display: flex;
  flex-direction: column;
  display: none;
  padding: 1.5rem 0;
} header a {
  background-color: var(--light);
  padding: 1.2rem;
  font-size: clamp(1.1rem, 3.4vw, 1.7rem);
  border-bottom: 0.2rem solid #F0D9AC;
  margin: 0.4rem 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.showing_nav {
  display: flex;
}


.hamburger_bt {
  position: fixed;
  top: 1.2rem;
  right: 1.2rem;
  width: clamp(3rem, 18vw, 7rem);
  height: clamp(3rem, 18vw, 7rem);
  z-index: 1;
  background-image: url('assets/icons/hamburger-menu-bt.svg');
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
} .hamburger_bt div {
  width: 12%;
  height: 12%;
  border-radius: 2rem;
  background-color: var(--dark);
}




.intro_sec {
  background-color:var(--c1);
  padding: calc(clamp(3rem, 18vw, 7rem) + 2rem) 0 0;
  position: relative;
  overflow: hidden;
} .logo_h1_ctnr {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: clamp(1rem, 5vw, 3rem);
  margin: 0 0 6rem 0;
} .intro_sec .logo {
  width: clamp(10rem, 46vw, 26rem);
  display: block;
} .selection_sec .cta {
  text-align: center;
  margin: 0 auto;
  display: block;
  position: absolute;
  top: calc(clamp(2.8rem, 7vw, 7.5rem) * -1);
  left: 0;
  right: 0;
  background-color: var(--lightc);
  width: fit-content;
  padding: clamp(0.7rem, 3vw, 1rem) clamp(1.5rem, 6vw, 2.5rem);
  font-size: clamp(1.5rem, 5vw, 1.8rem);
  color: var(--c1a);
  font-weight: 100;
  letter-spacing: 0.1rem;
  border-radius: 0.5rem;
  line-height: 1.3;
  transition: background-color 0.3s ease, box-shadow 0.3s ease, transform 0.3s ease;
  box-shadow: 0 0.4rem var(--lightb);
  cursor: pointer;
} .selection_sec .cta:hover {
  transition: background-color 0.2s ease, box-shadow 0.1s ease, transform 0.1s ease;
  background-color: #ffffff;
  transform: translateY(0.4rem);
  box-shadow: 0 0rem var(--lightb), 0 0rem 2rem -0.5rem var(--lighta);
} h1 {
  text-transform: uppercase;
  color: var(--light);
  font-weight: 100;
  font-size: clamp(1rem, 5.6vw, 3.3rem);
  text-align: left;
  letter-spacing: 0.1rem;
  width: fit-content;
  /* user-select: none; */
} h1 span {
  color: var(--dark);
}


.pizza_circle {

position: relative;

z-index: 1;

/* pointer-events: none; */
} .pizza_circle .ctnr {
  background-image: url(assets/graphics/pizza-circle-big.svg);
  background-position: bottom center;
  background-size: 95%;
  background-repeat: no-repeat;
  width: clamp(0rem, 100vw, 120rem);
  height: clamp(15rem, 67vw, 61rem);
  margin: 0 auto;
} .slice_logo {

width: clamp(10rem, 55vw, 53rem);

position: absolute;

left: 0;

right: 0;

margin: 0 auto;

top: 0;
}


.pizza_carousel {

padding-top: 17rem;
} .pizza_carousel .circle {
  
width: clamp(20rem, 70vw, 85rem);
  
height: clamp(20rem, 70vw, 85rem);
  
border: 0.2rem dashed var(--light);
  
border-radius: 100rem;
  
margin: 0 auto;
  
position: relative;
  
margin-bottom: calc(clamp(20rem, 70vw, 85rem) / -2);
  
/* margin-bottom: 10rem; */
} .pizza_carousel .circle .ctnr {
  
/* height: 9rem; */
} .pizza_carousel .pizza_name {
  text-align: center;
  display: block;
  top: calc(clamp(16rem, 17vw, 21rem) * -1);
  left: 0;
  right: 0;
  position: absolute;
  color: var(--lightc);
  letter-spacing: 0.3rem;
  font-size: 3rem;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  opacity: 0;
  visibility: hidden;
  text-transform: uppercase;
} .pizza_carousel .pizza {
  position: absolute;
  bottom: calc(50% - (clamp(7rem, 10vw, 15rem) / 2));
  transform: rotate(0deg) translateY(calc(clamp(20rem, 70vw, 85rem) / -2)) scale(1);
  width: clamp(7rem, 10vw, 13rem);
  left: 0;
  right: 0;
  margin: 0 auto;
  transition: transform 0.5s ease;
  will-change: transform;
} .selected + .pizza_name {
  opacity:1;
  visibility: visible;
} .pizza_carousel .selected {
  transform: rotate(0deg) translateY(calc(clamp(20rem, 70vw, 80rem) / -2)) scale(2.8);
  z-index: 1;
} .pizza_carousel .p2 {
  transform: rotate(50deg) translateY(calc(clamp(20rem, 70vw, 85rem) / -2)) scale(1);
} .pizza_carousel .p3 {
  transform: rotate(80deg) translateY(calc(clamp(20rem, 70vw, 85rem) / -2)) scale(1);
}




/* PIZZA CATALOG SECTION */


.selection_sec {padding: clamp(2rem, 12vw, 6rem) 0 0;position: relative;}

.selection_sec h2 {
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: clamp(2rem, 8.5vw, 4.5rem);
  color: var(--dark);
  display: none;
}

.pizza_menu {
  display: flex;
  flex-direction: row;
  gap: 3rem;
  overflow-x: auto;
  padding: clamp(2rem, 8vw, 3rem) calc((100vw - clamp(20rem, 80vw, 30rem)) / 2) 5rem;
  scroll-behavior: smooth;
  scroll-snap-type: x mandatory;
} .pizza_menu::-webkit-scrollbar-thumb {
  background-color:var(--lighta);
  border-radius: 0.3rem;
} .pizza_menu::-webkit-scrollbar-thumb:hover {
  background-color:var(--lightb);
} .menu_item {
  min-width: clamp(20rem, 80vw, 35rem);
  min-height: 30vh;
  height: clamp(33rem, 115vw, 51rem);
  background-color:#ffffff;
  scroll-snap-align: center;
  border-radius: 1.6rem;
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.2rem;
  padding: 0 clamp(2rem, 8vw, 3rem);
  box-sizing: border-box;
  transition: transform 1s ease;
  will-change: transform;
  box-shadow: 0 0.4rem 1.4rem var(--lighta);
} .menu_item:hover {
  transform:scale(1.03);
  transition: transform 0.5s 0.5s ease;
} .menu_item:hover img {
  transform: scale(1.03);
  transition: transform 0.45s 0.3s ease;
} .menu_item.popular::after {
  content:'popular';
  position:absolute;
  left: 1.6rem;
  top: 1.6rem;
  background-color: var(--dark);
  color: #ffffff;
  padding: clamp(0.4rem, 2vw, 0.6rem) 1rem;
  font-size: clamp(1rem, 3.3vw, 1.3rem);
  border-radius: 0.6rem;
  font-weight: 500;
  letter-spacing: 0.05rem;
} .menu_item img {
  filter: drop-shadow(0.6rem 0.6rem 1rem var(--lightb));
  margin-bottom: 1rem;
  width: 80%;
  transition: transform 0.8s 0.2s ease-in-out;
} .menu_item .flex {
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
} .menu_item .description {
  font-size: 1.4rem;
  font-weight: 500;
} .menu_item h3 {
  font-size: clamp(1.6rem, 5vw, 2rem);
  font-weight: 700;
} .menu_item .prep_time {
  font-size: clamp(1.4rem, 0.8vw, 1.8rem);
} .menu_item .price {
  font-size: clamp(1.5rem, 6vw, 2.5rem);
  letter-spacing: 0.3rem;
  margin-top: 1rem;
}

.just_eat_bt {
  
position: absolute;
  
width: clamp(3rem, 9vw, 3.6rem);
  
height: clamp(3rem, 9vw, 3.6rem);
  
right: 1.6rem;
  
bottom: 1.6rem;
  
background-color: var(--c1a);
  
border: 0.2rem solid var(--c1);
  
border-radius: 1rem;
  
background-image: url(assets/logo/logo-JustEat.svg);
  
background-position: center;
  
background-size: 55%;
  
background-repeat: no-repeat;
} .just_eat_bt::before {
  content:'Soon available on JustEat!';
  position: absolute;
  right: 5rem;
  top: 50%;
  background-color: #fff;
  color: var(--light);
  padding: 0 0.5rem;
  font-weight: 600;
  font-size: clamp(1rem, 3.5vw, 1.3rem);
  transform: translate(0%, -50%);
  border-radius: 0.6rem;
  color: var(--c1);
  width: calc(clamp(20rem, 75vw, 30rem) / 1.5);
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s 0.3s ease, visibility 0.2s 0.3s ease;
  border: 0.2rem solid var(--c1);
  height: clamp(3rem, 9vw, 3.6rem);
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
} .just_eat_bt:hover::before {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}



/* ABOUT US SECTION */

.about_us_sec {
  padding: clamp(5rem, 15vw, 10rem) 0 0;
} .about_us_sec h2 {
  color: var(--c2);
  font-size: clamp(2rem, 17vw, 9rem);
  line-height: 1;
  font-weight: 800;
} .about_us_sec h2 span {
  color: var(--c1a);
} .about_us_sec .width1 {
} .about_us_sec .txt {
  font-family: 'Inter', sans-serif;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: baseline;
  margin-bottom: clamp(4rem, 10vw, 7rem);
} .about_us_sec .txt p {
  font-size: clamp(1.2rem, 4.2vw, 1.8rem);
  letter-spacing: 0.03rem;
  line-height: 1.6;
} .about_us_sec .txt strong, .about_us_sec .txt b {
  font-weight: 600;
} .about_us_sec .cta {
  padding: clamp(1rem, 4vw, 1.6rem) clamp(2rem, 7vw, 3.5rem);
  background-color: var(--dark);
  border-radius: 10rem;
  color: var(--light);
  font-size: clamp(1.2rem, 4.2vw, 1.6rem);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-weight: 100;
  margin-top: 1rem;
  font-family: 'Arco', sans-serif;
  letter-spacing: 0.3rem;
  line-height: 1;
} .about_us_sec picture {
  width: 100%;
  display: block;
} .social_media_showroom {
  
display: flex;
  
justify-content: center;
  
align-items: center;
  
margin: clamp(5rem, 15vw, 15rem) 0;
}








footer {
  background-color: var(--c1);
  width: 100%;
  padding: 2rem 0;
  font-family: 'Inter', sans-serif;
  font-size: clamp(0.9rem, 4vw, 1.6rem);
} footer span {
  color: var(--light);
  text-align: center;
  display: block;
}


























@media (min-width:600px) {
  .hamburger_bt {
    display: none;
  } header {
    position: absolute;
    padding-top: 3rem;
    z-index: 2;
    width: fit-content;
    margin: 0 auto;
    cursor: pointer;
  } header nav {
    flex-direction: row;
    display: unset;
  } header a {
    background-color: var(--c1);
    border-bottom: unset;
    color: #ffffff;
    font-weight: 400;
    margin: 0 0.3rem;
    padding: 1rem 2rem;
    transition: background-color 0.3s ease;
  } header a:hover {
    background-color: var(--c1a);
    transition: background-color 0.05s ease;
  }

  .intro_sec {
    
padding: 8rem 0 0 0;
  } .intro_sec .cta {
    
  }

  .slice_logo {
    top:unset;
    bottom:7rem;
  }

  h1 {
    text-align: right;
    font-size: clamp(1rem, 5vw, 4.3rem);
  } .logo_h1_ctnr {
    
width: 82%;
    
max-width: 150rem;
    
gap: unset;
    
justify-content: space-between;
    
margin: 3rem auto calc(18rem - 20vw);
    
position: relative;
    
z-index: 1;
  }

  .pizza_carousel .selected {
    
transform: rotate(0deg) translateY(calc(clamp(20rem, 70vw, 85rem) / -2.55)) scale(3.9);
  }


  .pizza_menu {
    padding: clamp(2rem, 8vw, 4rem) 8rem 5rem;
    max-width: 150rem;
    margin: 0 auto;
  }


}






@media (min-width:900px) {

  .pizza_circle .ctnr {
    background-image: url(assets/graphics/pizza-circle-small.svg);
    min-height: 57vh;
    max-height: 74vh;
  }

  .about_us_sec .width1 {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  } .about_us_sec picture {
    width: clamp(20rem, 50vw, 58rem);
    position: sticky;
    top: 15vh;
  } .about_us_sec .txt {
    width: clamp(20rem, 55vw, 65rem);
  }
}






  /* @media (min-width:1920px) {
    html {
        font-size:20px;
    }
  } @media (min-width:2440px) {
    html {
        font-size:24px;
    }
  } @media (min-width:3000px) {
    html {
        font-size:32px;
    }
  } */


